.theme-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.theme-editor_sidebarLeft-slot {
  height: 100%;
  width: 243px;
  min-width: var(--min-sidebar-width);
}

.theme-editor_preview-slot {
  display: flex;
  flex: 1;
  height: 100%;
}