<div class="theme-editor">

    <div class="theme-editor_sidebarLeft" data-slot="sidebar-left">
        <div class="theme-editor_sidebarLeft-header">
            <button>Appearance</button>
            <button>Layout</button>
            <button>Spacing</button>
            <!--<button>Mappings</button>-->
        </div>
        <div class="theme-editor_sidebarLeft-content">
            <!-- Appearance -->
            <div class="theme-editor_sidebarLeft-element">
                <header>background-color</header>
                <item></item>
                <item></item>
                <item></item>
                <header>code-block</header>
                <item></item>
                <item></item>
                <item></item>
                <header>text-color</header>
                <item></item>
                <item></item>
                <item></item>
                <header>Typography</header>
                <item></item>
                <item></item>
                <item></item>
            </div>

            <!-- Layout -->
            <div class="theme-editor_sidebarLeft-element">
                <header>header</header>
                <item></item>
                <item></item>
                <item></item>
                <header>Table-of-contents</header>
                <item></item>
                <item></item>
                <item></item>
                <header>Content</header>
                <item></item>
                <item></item>
                <item></item>
                <header>Typography</header>
                <item></item>
                <item></item>
                <item></item>
            </div>

            <!-- Spacing -->
            <div class="theme-editor_sidebarLeft-element">
                <header>Gaps</header>
                <item></item>
                <item></item>
                <item></item>
                <header>Heading-Sizes</header>
                <item></item>
                <item></item>
                <item></item>
                <header>padding</header>
                <item></item>
                <item></item>
                <item></item>
            </div>

            <!-- Mappings -->

            <button class="button button-danger">Reset</button>
        </div>
    </div>
    
</div>