.theme-manager {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.theme-manager_topbar {
  width: 100%;
  height: var(--panel-header-height);
  background-color: var(--background-elevated);
  border: 1px solid var(--border-color);
}

.theme-manager_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.theme-manager_sidebar-left {
  min-width: var(--min-sidebar-width);
}

.theme-manager_header {
  height: var(--panel-header-height);
}

.theme-manager_body {
  height: 100%;
}

.theme-manager_preview {
  display: flex;
  flex: 1;
}