<header class="theme-cards_header">
    <div>
        <span class="text-heading theme-cards_header-text">Languages</span>
        <div id="{{id:cardCounter}}" class="theme-cards_count text-body text-muted">99</div>
    </div>
    <div class="form-top-actions">
        <button id="{{id:importLanguage}}" class="button button--secondary">Import</button>
        <button id="{{id:newLanguage}}" class="button button--secondary">+ New Language</button>
    </div>
</header>
<div id="{{id:languageThemeContainer}}" class="theme-cards_container"></div>