<div class="theme-editor_sidebarLeft-element">

    <header>gaps</header>

    <div class="item" data-key="gap-paragraph" data-type="number">
        <span>Paragraph-gap</span>
        <input type="number" value="16" min="0" max="64" />
    </div>

    <div class="item" data-key="gap-heading-above" data-type="number">
        <span>Heading-gap-above</span>
        <input type="number" value="24" min="0" max="64" />
    </div>

    <div class="item" data-key="gap-code-block" data-type="number">
        <span>Code-block-gap</span>
        <input type="number" value="16" min="0" max="64" />
    </div>

    <header>heading-sizes</header>

    <div class="item" data-key="heading-h1" data-type="number">
        <span>H1</span>
        <input type="number" value="32" min="12" max="72" />
    </div>

    <div class="item" data-key="heading-h2" data-type="number">
        <span>H2</span>
        <input type="number" value="24" min="12" max="64" />
    </div>

    <div class="item" data-key="heading-h3" data-type="number">
        <span>H3</span>
        <input type="number" value="18" min="12" max="48" />
    </div>

    <div class="item" data-key="heading-h4" data-type="number">
        <span>H4</span>
        <input type="number" value="14" min="12" max="32" />
    </div>

    <header>padding</header>

    <div class="item" data-key="padding-content" data-type="number">
        <span>Content-padding</span>
        <input type="number" value="24" min="0" max="80" />
    </div>

</div>