<aside class="project-manager_sidbar-left">
    <div class="project-manager_sidbar-left-header">
        <div id="{{id:project-search}}" class="project-manager__search"></div>

        <div class="project-manager__header-container">
            <span id="{{id:project-item-count}}">99 projects</span>
            <div id="{{id:project-sort-container}}"></div>
        </div>
    </div>
    
    <!--List of all projects-->
    <div id="{{id:project-list}}" class="project-manager__list"></div>

    <button id="{{id:add-project-button}}" class="button button--add">
       + Create Project
    </button>
</aside>