<aside class="sidbar-left">
    <div class="project-manager__search">
        <div class="search-wrapper">
          <span class="search-wrapper__icon" aria-hidden="true">⌕</span>
          <input
            id="{{id:search-input}}"
            type="text"
            class="search-input"
            placeholder="Search project…"
            autocomplete="off"
            aria-label="Search entries">
        </div>
    </div>

    <div class="project-manager__header-list">
        <span id="{{id:project-item-count}}">99 projects</span>
        <div id="{{id:project-sort-container}}" class="icon-button-group-hor">
            <button data-sort-action="none">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 6h12M4 10h8M4 14h5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </button>
            <button data-sort-action="recent">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="6.5" cy="10" r="5" stroke="currentColor" stroke-width="1.25"/>
                  <path d="M6.5 7.5v2.708l1.667 1.667" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16 5.5v9.5m0 0l2.5-2.5m-2.5 2.5l-2.5-2.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button data-sort-action="order-az">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 15.5l3.75-11l3.75 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4.3 12h4.791" stroke="currentColor" stroke-width="1.44"/>
                  <path d="M15 5.5v9.5m0 0l2.5-2.5m-2.5 2.5l-2.5-2.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
    
    <!--List of all projects-->
    <div id="{{id:project-list}}" class="project-manager__list"></div>

    <button id="{{id:add-project-button}}" class="project-manager__add-button">
       + Create Project
    </button>
</aside>