.project-manager {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%
}

.project-manager__leftSide {
  display: flex;
  flex-direction: column;
  background: var(--background-elevated);
  width: var(--projekt-manager-width, 250px);
  min-width: 150px;
  height: 100%;
  border-right: 1px solid var(--border-color);

}

.project-manager__main{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}