<div id="{{id:editor-area}}" class="editor-area">

  <div id="{{id:breadcrumb}}" class="breadcrumb">
    <span class="breadcrumb__placeholder">Select an entry</span>
  </div>

  <div id="{{id:toolbar}}" class="editor-toolbar">

    <div class="toolbar-container-left">
      <button class="toolbar-button" data-toolbar-action="h1" title="Heading 1">H1</button>
      <button class="toolbar-button" data-toolbar-action="h2" title="Heading 2">H2</button>
      <button class="toolbar-button" data-toolbar-action="h3" title="Heading 3">H3</button>

      <div class="horizontal-separator"></div>

      <button class="toolbar-button" data-toolbar-action="bold" title="Bold"><b>B</b></button>
      <button class="toolbar-button" data-toolbar-action="italic" title="Italic"><em>I</em></button>
      <button class="toolbar-button" data-toolbar-action="inline-code" title="Inline code">` `</button>

      <div class="horizontal-separator"></div>

      <button class="toolbar-button" data-toolbar-action="unordered-list" title="Unordered list">- L</button>
      <button class="toolbar-button" data-toolbar-action="ordered-list" title="Ordered list">1. L</button>
      <button class="toolbar-button" data-toolbar-action="blockquote" title="Blockquote">❝</button>
      <button class="toolbar-button" data-toolbar-action="code-block" title="Code block">{ }</button>
      <button class="toolbar-button" data-toolbar-action="link" title="Insert link">⛓</button>
      <button class="toolbar-button" data-toolbar-action="hr" title="Horizontal rule">-</button>
      <button class="toolbar-button" data-toolbar-action="table" title="Insert table">⊞</button>
    </div>

    <div class="toolbar-container-right">
      <div class="mode-toggle">
        <button class="mode-button mode-button--active" id="{{id:mode-split}}"   data-mode="split"   title="Split view">⫾</button>
        <button class="mode-button"                     id="{{id:mode-editor}}"  data-mode="editor"  title="Editor only">✎</button>
        <button class="mode-button"                     id="{{id:mode-preview}}" data-mode="preview" title="Preview only">◉</button>
      </div>
    </div>

  </div>

  <div id="{{id:split-pane}}" class="split-pane">
    
    <div id="{{id:editor-input-wrapper}}" class="editor-input-wrapper">
      <textarea
        id="{{id:editor-input}}"
        class="editor-input"
        placeholder="Enter Markdown here…&#10;&#10;# Heading&#10;## Section&#10;**bold** *italic* `code`"
        spellcheck="false"
      ></textarea>
    </div>


    <iframe id="{{id:preview-pane}}" class="preview-pane" data-preview-panel></iframe>

  </div>

</div>
