.theme-editor_preview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.theme-editor_preview-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--panel-main-header-height);
}

.theme-editor_preview {
  display: flex;
  flex: 1;
  margin: var(--spacing-l);
  border: 2px solid var(--border-color-secondary);
}