.project-manager_main-area {
  --headerHeight: 100px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* ── header ───────────────────── */

.project-manager_main-area .project-manager-main__header {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  height: var(--headerHeight);
  justify-content: space-between;
  padding: var(--spacing-xs) var(--spacing-m);
  background-color: var(--background-elevated);
  border-bottom: 1px solid var(--border-color);
}

.project-manager_main-area .project-manager-main__header div {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.project-manager_main-area .project-manager-main__header div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.project-manager_main-area .project-manager-main__header .project-manager-main__header-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.project-manager-main_title  {
  font-size: var(--font-size-xl);
  color: var(--text-primary);
}

.project-manager-main_subtitle {
  font-size: var(--font-size-m);
  color: var(--text-muted);
}

/* ── body ───────────────────── */

.project-manager_wrapper {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: calc(100% - var(--headerHeight));
}

.project-manager_main-area .project-manager-main_body {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* ── preview ───────────────────── */

.project-manager-main_body .body-preview {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: var(--spacing-s);
}

.empty-preview-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--text-muted);
  font-size: var(--font-size-l);
}

.project-manager-main_body .body-preview iframe {
  width: 100%;
  height: 100%;
  border: 2px solid var(--border-color-secondary);
}

/* ── theme ───────────────────── */

.project-manager-main_body .theme-sidebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 100%;
  border-radius: var(--spacing-xxs) 0px 0px var(--spacing-xxs);
  background-color: var(--background-overlay);
  opacity: 0.2;
  overflow: hidden;
  transition:
    width 0.1s cubic-bezier(0.47, 0, 0.75, 0.72),
    opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72),
    background-color 0s linear 0.11s;
}

.project-manager-main_body .theme-sidebar-button:hover {
  width: 35px;
  opacity: 1;
}

.project-manager-main_body .theme-sidebar-button--active {
  width: 35px;
  opacity: 0.0;
  background-color: var(--background-danger-darker);
}

.project-manager-main_body .theme-sidebar-button--active:hover {
  opacity: 0.75;
}

.project-manager-main_body .theme-sidebar-button span {
  white-space: nowrap;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: var(--font-size-l);
  color: var(--text-muted);
  transition: all 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.project-manager-main_body .theme-sidebar-button:hover span {
  font-size: var(--font-size-xl);
}

.project-manager-main_body .theme-sidebar-button--active span {
  font-size: var(--font-size-xl);
}

.project-manager-main_body .theme-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 0px;
  height: 100%;
  background-color: var(--background-elevated);
  border-left: 1px solid var(--border-color);
  overflow: hidden;
  transition: width 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.project-manager-main_body .theme-sidebar--active {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
  transition:
    width 0.1s cubic-bezier(0.47, 0, 0.75, 0.72),
    opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72),
    background-color 0s linear 0.11s;
}

.theme-sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--panel-header-height);
  margin-bottom: var(--spacing-xs); 
  background-color: var(--background-raised);
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.project-manager-main_body .theme-sidebar .theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 200px;
  margin-top: var(--spacing-xs);
  overflow-y: auto;
  padding: var(--spacing-xs);
}

.theme-sidebar:not(.theme-sidebar--active) .theme-container {
  display: none;
}