<div class="project-manager_main-area">
    <div class="project-manager__header">
        <div>
            <span id="{{id:project_title}}" class="project-manager_title">Unkown</span>
            <span id="{{id:project_subtitle}}" class="project-manager_subtitle">Opend: today 12:23</span>
        </div>
        <div>
            <button id="{{id:project-rename-button}}">
                Rename
            </button>
            <button id="{{id:project-delete-button}}" class="project-delete-button">
                Delete
            </button>
        </div>
    </div>
    <div class="project-header">

    </div>
</div>