<div class="theme-editor_sidebarLeft">
    <div class="theme-editor_sidebarLeft-header">
        <button id="{{id:tab-element_appearance}}" class="tab-element" data-tab-action="appearance">Appearance</button>
        <button id="{{id:tab-element_layout}}" class="tab-element" data-tab-action="layout">Layout</button>
        <button id="{{id:tab-element_spacing}}" class="tab-element" data-tab-action="spacing">Spacing</button>
        <!-- <button id="{{id:tab-element_mapping}}" class="tab-element" data-tab-action="mapping">Mappings</button> -->
    </div>
    <div class="theme-editor_sidebarLeft-content">
        <!-- Appearance -->
        <div id="{{id:content-appearance}}" class="theme-editor_sidebarLeft-content-slot hidden" data-tab="appearance"></div>
        <!-- Layout -->
        <div id="{{id:content-layout}}" class="theme-editor_sidebarLeft-content-slot hidden" data-tab="layout"></div>
        <!-- Spacing -->
        <div id="{{id:content-spacing}}" class="theme-editor_sidebarLeft-content-slot hidden" data-tab="spacing"></div>
        <!-- Mappings -->
        <!-- <div id="{{id:content-mapping}}" class="theme-editor_sidebarLeft-content-slot hidden" data-tab="mapping"></div> -->
    </div>
    <div class="theme-editor_sidebarLeft-footer">
        <button id="{{id:theme-editor_reset-button}}" class="button button--danger">Reset</button>
    </div>
</div>