<div class="theme-editor_sidebarLeft-element">

    <header>background-color</header>

    <div class="item" data-key="surface" data-type="color">
        <span>Surface</span>
        <input type="color" />
    </div>

    <div class="item" data-key="base" data-type="color">
        <span>Base</span>
        <input type="color" />
    </div>

    <div class="item" data-key="elevated" data-type="color">
        <span>Elevated</span>
        <input type="color" />
    </div>

    <header>header</header>
    <div class="item">
        <span>Banner-color</span>
        <input type="color" />
    </div>
    <div class="item">
        <span>Title-color</span>
        <input type="color" />
    </div>

    <header>code-block</header>

    <div class="item">
        <span>Background</span>
        <input type="color" />
    </div>


    <div class="item" data-key="radius" data-type="number">
        <span>Radius</span>
        <input type="number" value="4" min="0" max="20" />
    </div>

    <div class="item" data-key="style" data-type="select">
        <span>Style</span>
        <select>
            <option value="solid">Solid</option>
            <option value="outline">Outline</option>
        </select>
    </div>

    <header>text-color</header>
    <div class="item">
        <span>Primary</span>
        <input type="color" />
    </div>
    <div class="item">
        <span>Secondary</span>
        <input type="color" />
    </div>
    <div class="item">
        <span>Muted</span>
        <input type="color" />
    </div>
    <div class="item">
        <span>Accent</span>
        <input type="color" />
    </div>

</div>