<div id="{{id:theme-editor_sidebar-left}}" class="theme-editor_sidebarLeft-element">

    <header>Header</header>
    <div class="item" data-key="header-show" data-type="select">
        <span>Show</span>
        <select>
            <option value="top">Top</option>
            <option value="sidebar">In sidebar</option>
            <option value="never">Never</option>
        </select>
    </div>
    <div class="item" data-key="header-height" data-type="number">
        <span>Height</span>
        <input type="number" value="60" min="0" max="120" />
    </div>

    <header>Sidebar</header>
    <div class="item" data-key="content-show-nav" data-type="select">
        <span>Show nav</span>
        <select>
            <option value="always">Always</option>
            <option value="never">Never</option>
        </select>
    </div>
    <div class="item" data-key="sidebar-width" data-type="number">
        <span>Width</span>
        <input type="number" value="200" min="120" max="400" />
    </div>

    <header>Table of Contents</header>
    <div class="item" data-key="toc-show" data-type="select">
        <span>Show</span>
        <select>
            <option value="always">Always</option>
            <option value="desktop">Desktop only</option>
            <option value="never">Never</option>
        </select>
    </div>
    <div class="item" data-key="toc-position" data-type="select">
        <span>Position</span>
        <select>
            <option value="left">Left</option>
            <option value="right">Right</option>
        </select>
    </div>
    <div class="item" data-key="toc-width" data-type="number">
        <span>Width</span>
        <input type="number" value="200" min="120" max="400" />
    </div>

    <header>Content</header>
    <div class="item" data-key="content-max-width" data-type="number">
        <span>Max width</span>
        <input type="number" value="720" min="0" max="1400" />
    </div>

    <header>Typography</header>
    <div class="item" data-key="typography-heading" data-type="select">
        <span>Heading font</span>
        <select>
            <option value="system">System</option>
            <option value="serif">Serif</option>
            <option value="mono">Mono</option>
        </select>
    </div>
    <div class="item" data-key="typography-body" data-type="select">
        <span>Body font</span>
        <select>
            <option value="system">System</option>
            <option value="serif">Serif</option>
            <option value="mono">Mono</option>
        </select>
    </div>

    <header>Heading sizes</header>
    <div class="item item--sub-container">
        <div class="item item--sub" data-key="heading-h1" data-type="number">
            <div class="item--sub-line"></div>
            <span>H1</span><input type="number" value="32" min="0" max="72" />
        </div>
        <div class="item item--sub" data-key="heading-h2" data-type="number">
            <div class="item--sub-line"></div>
            <span>H2</span><input type="number" value="24" min="0" max="64" />
        </div>
        <div class="item item--sub" data-key="heading-h3" data-type="number">
            <div class="item--sub-line"></div>
            <span>H3</span><input type="number" value="18" min="0" max="48" />
        </div>
        <div class="item item--sub" data-key="heading-h4" data-type="number">
            <div class="item--sub-line"></div>
            <span>H4</span><input type="number" value="14" min="0" max="32" />
        </div>
    </div>

    <header>Font sizes</header>
    <div class="item" data-key="font-size" data-type="number">
        <span>Body</span>
        <input type="number" value="15" min="0" max="28" />
    </div>
    <div class="item" data-key="font-size-code" data-type="number">
        <span>Code</span>
        <input type="number" value="14" min="0" max="28" />
    </div>

</div>