<div class="project-hub">

  <div class="project-hub__toolbar"  data-slot="toolbar"></div>
  
  <div id="project-hub__tab-container" class="project-hub__tab-container">
  
    <div class="project-hub__tab-element" data-open="true">
      <button class="tab_button">
        <span>Start a new project</span>
        <div class="center" data-icon></div>
      </button>
      <div class="project-hub__tab-element_container"  data-slot="template-gallery"></div>
    </div>

    <div class="project-hub__tab-element" data-open="true">
      <button class="tab_button">
        <span>Recent projects</span>
        <div class="center" data-icon></div>
      </button>
      <div class="project-hub__tab-element_container"  data-slot="recent-projects"></div>
    </div>
  
  </div>

</div>